{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Host</title>
{% endblock %}

{% block body %}
<p>Game hosting Page</p>

{% if user.is_authenticated %}
  <p> Hi {{user}}! </p>
  {% if form.errors %}
    <div class="errors">
      <p>Please fix the following errors</p>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li>{{ error|escape }}</li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}
  {% if messages %}
    <div class="messages">
      <ul>
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  <div class="field-space">
  {{ field.errors }}
  {{ field.label_tag }}
  {{ field }}
  </div>
  {% endfor %}
  <div class="buttonCollection">
  <button type="submit" name="submit" value="submit">Submit</button>
  </div>
  </form>
{% else %}
  <p>Please login, my sweet summer child</p>
{% endif %}

{% endblock %}
