{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Join Game - Fish ON</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
{% endblock %}

{% block content %}

    <div class="box" id="signin">
        <h1>Game List</h1>
        <table >
            <style>
                table *{
                    font-size: 10px !important;
                }
            </style>
            <tr> <th>Game Name</th> <th>Host</th> <th>Create time</th> <th>Unite Link</th></tr>
            {% for game in game_list %}
                <tr> <td>{{ game.game_name }}</td> <td>{{ game.player_11 }}</td> <td>{{ game.create_time }}</td> <td><a target="_blank" href="{% url 'unite' game.unite_id %}"><button>Join</button></a></td> </tr>
            {% endfor %}
        </table>
    </div>
      

{% endblock %}
