{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Unite - Fish ON</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
{% endblock %}

{% block content %}

    <div class="box" id="signin">
        <h1>Unite</h1>
                <p style="font-size:10px;">Enter the player usernames into the form below. <br>Team 1 Player 1 will be the host, {{user}}.<br> The following users have joined the lobby:</p>
                <p style="font-size:10px;display:none" id="user_queue_invisible" > {{lobby}}</p> <!-- This will remain invisible and recieve the user queue -->
                <p style="font-size:10px;" id="user_queue_visible"> </p> <!-- This will take the contents of user_queue_invisible and make then appear aesthetically-->

                <form method="POST">
                    <div class="form-container">
                        {% csrf_token %}
                        <!-- prints out the form field by field -->
                        {% for field in form %}
                            <div class="field-item">
                                <div class="field-label">
                                    {{field.label}}
                                </div>

                                <!-- adds an "is-invalid" class to the div if a non field error occurs, so that it can be given error styling-->
                                <div class="field  {% if form.non_field_errors %}is-invalid{% endif %}">
                                    {{field}}
                                </div>
                            </div>
                      {% endfor %}
                      {% if form.non_field_errors %}
                        <!-- Non existant username or password are not particular to any field and show up in non field errors. -->
                        <div class="errors">
                            {{form.non_field_errors}}
                        </div>
                      {% endif %}
                    </div>
                    <button type="submit">Submit</button>
                </form>
               
    </div>
 

  <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/main.js" %}'></script>
  <script language="javascript">

    var refresh_user_queue = function(sendAlert){ //argument decides if an alert is to be sent
        // Takes the contents of user_queue_invisible and updates the user queue in user_queue_visible
        str = document.getElementById("user_queue_invisible").innerHTML;
        str = str.replaceAll("\'", "\"");
        j = JSON.parse(str);
        console.log(j);
        temp = "";
        if(j.hasOwnProperty('queue')){
            for (let i = 0; i < j["queue"].length; i++) {
                temp = temp.concat("<span>",j["queue"][i],"</span>");
            }
            document.getElementById("user_queue_visible").innerHTML=temp;
            console.log("User queue updated");
            if(sendAlert){
                alert("New user in lobby");
            }
            
        }
        else{
            console.log("No user list found in queue");
        }
        
    };
    refresh_user_queue(false); // For loading the users already added to queue before the websocket stuff happens

    var liveSocket = new ReconnectingWebSocket(generate_live_url());
    liveSocket.onmessage = function(event) {
        var data = event.data;
        document.getElementById("user_queue_invisible").innerHTML=data.toString();
        refresh_user_queue(true);
        console.log('Message from the server:', data);
    };
    liveSocket.onopen = function(event) {
        console.log("Connection open attempting")
        liveSocket.send(JSON.stringify({
            'message': "Hello from the client side",
            'type':'websocket.receive'
        }));
    };
    liveSocket.onerror = function(event) {
        console.log("Connection error")
    };
    liveSocket.onclose = function(event) {
        console.log("Connection closed")
    };


  </script> 

{% endblock %}



