{% load static %}
<DOCTYPE!>
<html>
    <head>
        <title>Game - FISH ON</title>
        <link rel="stylesheet" href="{% static 'styles/gamepage.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="heading">
            Loading
        </div>
        <div class="container">
            <div class="gamecircle" id="gamecircle">
                <div class="playerbox player4">
                    <div class="playerboxh">
                        player11
                    </div>
                    <p class="playercardno"> 9 </p>
                    <div class="cardbox">

                    </div>
                </div>
                <div class="playerbox player5">
                    <div class="playerboxh">
                        player21
                    </div>
                    <p class="playercardno"> 9 </p>
                    <div class="cardbox">

                    </div>
                </div>
                <div class="playerbox player6">
                    <div class="playerboxh">
                        player12
                    </div>
                    <p class="playercardno"> 9 </p>
                    <div class="cardbox">

                    </div>
                </div>
                <div class="playerbox player1">
                    <div class="playerboxh">
                        player22
                    </div>
                    <p class="playercardno"> 9 </p>
                    <div class="cardbox">

                    </div>
                </div>
                <div class="playerbox player2">
                    <div class="playerboxh">
                        player13
                    </div>
                    <p class="playercardno"> 9 </p>
                    <div class="cardbox">

                    </div>
                </div>
                <div class="playerbox player3">
                    <div class="playerboxh">
                        player23
                    </div>
                    <p class="playercardno"> 9 </p>
                    <div class="cardbox">

                    </div>
                </div>
                <div class="askbox">
                    <div class="askboxh">
                        Ask
                        <span class="close"> &times; </span>
                    </div>
                    <div class="formbox">

                    </div>
                </div>
                <div class="declbox">
                    <div class="askboxh">
                        Declare
                    </div>

                    <div class="formbox">

                    </div>
                </div>
            </div>
            <div class="statbox">
                <p>Connection status   : <span class="statboxstat" id="connectionStatus">    </span></p>
                <p>Last updated   : <span class="statboxstat" id="lastUpdated">  Never </span></p>
            </div>
            <div class="scorebox">
                <div class="scoreboxh">
                    Declarations
                </div>
                <div class="scoreteams">
                    Team 1<br>
                    <ol>
                        <li>Suit 1</li>
                        <li>Suit 2</li>
                        <li>Suit 3</li>
                        <li>Suit 4</li>
                    </ol>
                    Team 2<br>
                    <ol>
                        <li>Suit 1</li>
                        <li>Suit 2</li>
                        <li>Suit 3</li>
                        <li>Suit 4</li>
                    </ol>
                </div>
            </div>
            <div class="declbutton">
                Declare
            </div>
            <div class="askbutton">
                Ask
            </div>
        </div>

        <audio id="audio1">
            <source src="{% static "audio/1.mp3" %}" type="audio/mp3">
        </audio>
        
        <script type="text/javascript" src="{% static 'js/gamepage.js' %}"></script>
        <script type="text/javascript">
            function gamecircle(){

                var gamecircle = document.getElementById("gamecircle");
                var height = gamecircle.parentElement.clientHeight;
                var width = gamecircle.parentElement.clientWidth;


                if (height < width) {
                    gamecircle.style.height = String(height*0.8)+"px";
                    gamecircle.style.width = gamecircle.style.height;
                } else {
                    gamecircle.style.width = String(width*0.8)+"px";
                    gamecircle.style.height = gamecircle.style.width;
                }
            }
            gamecircle()
            window.addEventListener('resize', gamecircle);

          // initial page data
          var game_status_json = '{{game_status_json|safe}}';
          var game_info_json = '{{game_info_json|safe}}';
          var audio1 = document.getElementById("audio1");

          window.addEventListener('load', refresh_cards());
        </script>
        <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
        <script type="text/javascript" src='{% static "js/main.js" %}'></script>
        <script language="javascript">

            var liveSocket = new ReconnectingWebSocket(generate_live_url());
            liveSocket.onmessage = function(event) {
                var data = event.data;
                game_status_json = JSON.parse(data);
                refresh_cards();
                // do whatever required with received data ...
            };

            //code for displaying the connection status
            var connectionStatus = document.getElementById("connectionStatus");
            liveSocket.onopen = function(event) {
                connectionStatus.style.backgroundColor = "green";
            };
            liveSocket.onclose = function(event) {
                connectionStatus.style.backgroundColor = "red";
            };

            //code for displaying the time since last update
            var lastUpdated = document.getElementById("lastUpdated");
            var last_timestamp = new Date();
            console.log("ls",last_timestamp);
            var timestamp_display = setInterval(function(){
                now = new Date();
                console.log("ls",last_timestamp);
                diff = Math.round((now - last_timestamp)/1000);
                //if(diff > 600) location.reload();
                lastUpdated.innerHTML = time_sec(diff) + " ago";
            },1000);
        </script>
    </body>

</html>
