{% load static %}
<DOCTYPE!>
<html>
    <head>
        <title>Game - FISH ON</title>
        <link rel="stylesheet" href="{% static 'styles/gamepage.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        
        <div class="container">
            <div class="row mainrow">
                <div class="col col1">
                    <div class="infobox">
                        <div class="infoboxh">
                            Game Information
                        </div>
                        <table>
                            <tr><td>Game Name </td><td id="gameName">A</td></tr>

                            <tr><td>Current Player</td><td id="currentPlayer">A</td></tr>
                        </table>
                        <div class="infoteams">
                            Team 1<br>
                            <ol>
                                <li>Suit 1</li>
                            </ol>
                            Team 2<br>
                            <ol>
                                <li>Suit 1</li>
                            </ol>
                        </div>
                        </div>
    
                </div>
                <div class="col col2">
                    <div class="heading">
                        Loading
                    </div>
                    <div class="gamecircleWrapper">
                        <div class="gamecircle" id="gamecircle">
                            <div class="playerbox player4">
                                <div class="playerboxh">
                                    player11
                                </div>
                                <p class="playercardno"> N </p>
                                <div class="cardbox">
            
                                </div>
                            </div>
                            <div class="playerbox player5">
                                <div class="playerboxh">
                                    player21
                                </div>
                                <p class="playercardno"> N </p>
                                <div class="cardbox">
            
                                </div>
                            </div>
                            <div class="playerbox player6">
                                <div class="playerboxh">
                                    player12
                                </div>
                                <p class="playercardno"> N </p>
                                <div class="cardbox">
            
                                </div>
                            </div>
                            <div class="playerbox player1">
                                <div class="playerboxh">
                                    player22
                                </div>
                                <p class="playercardno"> N </p>
                                <div class="cardbox">
            
                                </div>
                            </div>
                            <div class="playerbox player2">
                                <div class="playerboxh">
                                    player13
                                </div>
                                <p class="playercardno"> N </p>
                                <div class="cardbox">
                                                
                                </div>
                            </div>
                            <div class="playerbox player3">
                                <div class="playerboxh">
                                    player23
                                </div>
                                <p class="playercardno"> N </p>
                                <div class="cardbox">
            
                                </div>
                            </div>
                        </div>
                    </div>
                    
    
                </div>
                <div class="col col3">
                    <div class="logbox">
                        <div class="logboxh">
                            Logs
                        </div>
                        <div class="logs">
                            <p>
                                
                                Note: A maximum of two previous moves will be shown
                            </p>
                            <p>
                                Log009 -  00:53 <br>
                                Jon Snow got the Queen of Dragons from Manavalan
                            </p>
                            <p>
                                Log010 -  00:42 <br>
                                Manavalan declared the Low Hearts Successfully.
                            </p>
                            
                        </div>
                        </div>
    
                </div>
                

            </div>
            <div class="row statusbar">
                <div class="buttonContainer">
                    <button class="declbutton">
                        Declare
                    </button>
                    <button class="askbutton">
                        Ask
                    </button>
                    <div class="askbox">
                        <div class="askboxh">
                            Ask
                            <span class="close"> &times; </span>
                        </div>
                        <div class="formbox">
    
                        </div>
                    </div>
                    <div class="declbox">
                        <div class="askboxh">
                            Declare
                        </div>
    
                        <div class="formbox">
    
                        </div>
                    </div>
                </div>
                <div>Last updated   : <span class="statboxstat" id="lastUpdated">  Never &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></div>
                <div>Connection status   : <span class="statboxstat" id="connectionStatus"> </span></div>
                
                </div>

            </div>
            
            
            
            
        </div>

        <audio autoplay id="audio1" src="{% static 'audio/1.mp3' %}">
        
        <script type="text/javascript" src="{% static 'js/gamepage.js' %}"></script>
        <script type="text/javascript">
            function gamecircle(){

                var gamecircle = document.getElementById("gamecircle");
                var height = gamecircle.parentElement.clientHeight;
                var width = gamecircle.parentElement.clientWidth;
                console.log("gamecircle",gamecircle.parentElement,height,width);

                if (height < width) {
                    gamecircle.style.height = String(height*0.8)+"px";
                    gamecircle.style.width = gamecircle.style.height;
                } else {
                    gamecircle.style.width = String(width*0.8)+"px";
                    gamecircle.style.height = gamecircle.style.width;
                }
            }
            gamecircle()
            window.addEventListener('resize', gamecircle);

          // initial page data
          var game_status_json = '{{game_status_json|safe}}';
          var game_info_json = '{{game_info_json|safe}}';
          var audio1 = document.getElementById("audio1");
        
          
          window.addEventListener('load', refresh_cards());
        </script>
        <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
        <script type="text/javascript" src='{% static "js/main.js" %}'></script>
        <script language="javascript">

            var liveSocket = new ReconnectingWebSocket(generate_live_url());
            liveSocket.onmessage = function(event) {
                var data = event.data;
                game_status_json = JSON.parse(data);
                refresh_cards();
                // do whatever required with received data ...
            };

            //code for displaying the connection status
            var connectionStatus = document.getElementById("connectionStatus");
            liveSocket.onopen = function(event) {
                connectionStatus.style.backgroundColor = "green";
            };
            liveSocket.onclose = function(event) {
                connectionStatus.style.backgroundColor = "red";
            };

            
        </script>
    </body>

</html>
