{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Unite</title>
{% endblock %}

{% block body %}
  <p>Here you shall choose your players</p>
  <p id="user_queue"> {{unite_queue}}</p>
  <p>Team 1 Player 1 is the host, {{user}}</p>
  {% if form.errors %}
    <div class="errors">
      <p>Please fix the following errors</p>

      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}
  {% if messages %}
    <div class="messages">
      <ul>
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="field-space">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <div class="buttonCollection">
      <button type="submit" name="submit" value="submit">Submit</button>
    </div>
  </form>



  <script type="text/javascript" src='{% static "js/jquery-3.5.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/main.js" %}'></script>
  <script language="javascript">

    var liveSocket = new ReconnectingWebSocket(generate_live_url());
    liveSocket.onmessage = function(event) {
        //var data = JSON.parse(event.data);
        var data = event.data;
        $("#user_queue").text(data.toString());
        console.log('data', data);
        // do whatever required with received data ...
    };


  </script>


{% endblock %}
