{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Unite</title>
{% endblock %}

{% block body %}
  <p>Please wait for the response from the host</p>
  <p id="host_response"></p>

  <script type="text/javascript" src='{% static "js/jquery-3.5.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/main.js" %}'></script>
  <script language="javascript">
    live_url=generate_live_url()
    console.log("test " + live_url);
    var liveSocket = new ReconnectingWebSocket(live_url);
    liveSocket.onmessage = function(event) {
        //var data = JSON.parse(event.data);
        var data = event.data;
        $("#host_response").text(data.toString());
        console.log('data', data);
        // do whatever required with received data ...
    };


  </script>


{% endblock %}
