{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Awaiting response - Fish ON</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
{% endblock %}

{% block content %}

    <div class="box" id="signin">
        <h1>Awaiting response</h1>
        <p>Please wait for the response from the host</p>
        <p id="host_response"></p>
    </div>

  <script type="text/javascript" src='{% static "js/jquery-3.5.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/main.js" %}'></script>
  <script language="javascript">

    var liveSocket = new ReconnectingWebSocket(generate_live_url());
    liveSocket.onmessage = function(event) {
        //var data = JSON.parse(event.data);
        var data = event.data;
        $("#host_response").text(data.toString());
        console.log('data', data);
        // do whatever required with received data ...
    };


  </script>

{% endblock %}

