{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Log in - Fish ON</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
{% endblock %}

{% block content %}

  <div class="box" id="signin">
          <h1>Sign in</h1>
          <form method="POST">
              <div class="form-container">
                  {% csrf_token %}
                      <!-- prints out the form field by field -->
                      {% for field in form %}
                          <div class="field-item">
                              <div class="field-label">
                                  {{field.label}}
                              </div>

                              <!-- adds an "is-invalid" class to the div if a non field error occurs, so that it can be given error styling-->
                              <div class="field  {% if form.non_field_errors %}is-invalid{% endif %}">
                                  {{field}}
                              </div>
                          </div>
                      {% endfor %}
                      {% if form.non_field_errors %}
                      <!-- Non existant username or password are not particular to any field and show up in non field errors. -->
                          <div class="errors">
                              {{form.non_field_errors}}
                          </div>
                      {% endif %}
              </div>
              <button type="submit">Log in</button>
              <div class="redirect-text">
                  Don't have an account? <a href="{% url 'django_registration_register' %}">Sign Up</a>
              </div>
              <div class="redirect-text">
                  Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a>
              </div>
          </form>
      </div>


{% endblock %}
