{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Password reset - Fish ON</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
{% endblock %}

{% block content %}

    <div class="box" id="signin">
        <h1>Password reset</h1>
        <p>Please check your email inbox for instructions to reset password. If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
      

{% endblock %}
