{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Confirm reset password</title>
{% endblock %}

{% block content %}

    <p>Confirm reset password here</p>
    <a href="{% url 'django_registration_register' %}">Sign Up</a>
    {% if form.errors %}
      <div>
        <p>Please fix the following errors</p>
        <ul>
          {% for field in form %}
            {% if field.errors %}
              {% for error in field.errors %}
                <li><a href="#id_{{ field.name }}">{{ error|escape }}</a></li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
      </div>
    {% endif %}
    {% if messages %}
      <div>
        <ul>
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div>
          {% if field.errors %}
            <div>
              <ul>
                {% for error in field.errors %}
                  <li>{{ error|escape }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {{ field.label_tag }}
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit">Send me instructions</button>
    </form>


{% endblock %}
