{% extends 'meenkari/base.html' %}
{% load static %}

{% block head %}
<title>Change password - Fish ON</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
{% endblock %}

{% block content %}

    <div class="box" id="signin">
        <h1>Change password</h1>
            {% if user.is_authenticated %}
                <form method="POST">
                    <div class="form-container">
                        {% csrf_token %}
                        <!-- prints out the form field by field -->
                        {% for field in form %}
                            <div class="field-item">
                                <div class="field-label">
                                    {{field.label}}
                                </div>

                                <!-- adds an "is-invalid" class to the div if a non field error occurs, so that it can be given error styling-->
                                <div class="field  {% if form.non_field_errors %}is-invalid{% endif %}">
                                    {{field}}
                                </div>
                            </div>
                      {% endfor %}
                      {% if form.non_field_errors %}
                        <!-- Non existant username or password are not particular to any field and show up in non field errors. -->
                        <div class="errors">
                            {{form.non_field_errors}}
                        </div>
                      {% endif %}
                    </div>
                    <button type="submit">Change Password</button>
                </form>
                
            {% else %}
                <p>You have to log in to change your password</p>
            {% endif %}                
    </div>
      

{% endblock %}
