/* cusotm font where password masking characters have been replaced with spade glyphs, for the password field*/
@font-face{
    font-family: 'Password Mask';
    src: url('../meenkari/fonts/password-font.ttf')
}

/* ToDo: Have to implement it so that aspect ratio remains constant on resizing window*/
.box{
    font-family: 'Audrey', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    min-width: 250px;
    /* height given as auto because the box may have to expand to account for error messages */
    height: auto;
    min-height: 400px;
    padding: 2% 3% 1% 3%;
    background-color: rgba(205,204,218,0.96);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px rgba(255, 255, 255, .2);
    z-index: 100
}


/* applies to box of signin page */
#signin{
    padding: 4% 3%;
}

.redirect-text{
    font-size: 0.8em;
    font-family: Helvetica,sans-serif;
    color: #757575;
    margin-top: 1em;
}

.redirect-text a{
    color:#5e7bad;
}

#logout-box p{
    font-size: 1em;
    font-family: Helvetica,sans-serif;
    color: #757575;
}

#logoout-box a{
    font-size:1.2em;
}

.box h1{
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.form-title{
  font-family: 'Roboto Slab', serif;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.form-container{
    border: none;
    width:100%;
}

.field-item{
    margin-bottom:1.3em;
}

.field-label{
    font-size:0.8em;
    color: #4f4f4f;
    margin-bottom: 0.2em;
}

.field-label span{
    color:red;
}

/* input fields inside the form */
.field input{
    width: 100%;
    padding: 0.3em 0;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #6b6b6b;
    outline: none;
    background-color: transparent;
}

/* input fields when django raises an error, highlighted in red */
.is-invalid input{
    background-color:rgba(255,0,0,0.05);
    border-bottom: 1px solid red;
}


.field input:focus{
    border-bottom: 1px solid #028ea1;
    background-color: transparent;
}

/*errors django will raise in case of invalid inputs*/
.errors{
    color:#cc3535;
    font-size: 0.6em;
    font-weight: bold;
}

.errors ul{
    padding:0px;
    list-style-type: none;
}

.box button{
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.5em;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  height:auto;
  min-height: 2em;
  width: auto;
  min-width: 50%;
  padding: 0.3em 0.1em;
  text-align: center;
  margin-left: 25%;
  margin-top:10px;
  font-size: 18px;
  font-weight: bold
}

.box button:hover{
  border: 1px solid black;
  cursor: pointer;
  background: #33333C ;
  color: white;
}

.box button:active{
  border: 1px solid black;
  cursor: pointer;
  border-radius: 15px;
  background: #33333C ;
}

input[type="password"]{
    font-family:"Password Mask",sans-serif;
}

@media only screen and (max-width: 600px) {
    .box{
        min-height:65%;
        height: auto;
        width:80%;
        padding: 10%;
    }

    .button{
        font-size:16px;
    }

    .button:hover{
        font-size: 18px;
    }
}

/* for 1440p or similar resolution monitors*/
@media only screen and (min-width: 2000px){
  .box{
      height:auto;
      min-height: 600px;
  }

  .box h1{
      font-size:3em;
  }

  .form-container{
      font-size: 1.5em;
  }

  .form-container input{
      font-size: 1em;
  }
}

/* for 4k or similar resolution monitors*/
@media only screen and (min-width: 3000px){
  .box{
      height:auto;
      min-height: 900px;
  }

  .box h1{
      font-size:5em;
  }

  .form-container{
      font-size: 1em;
  }

  .form-container input{
      font-size:2em;
  }
}
